
<div class="table-container relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class=" table w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Post Id
      </th>
      <th scope="col" class="px-6 py-3">
        Post Title
      </th>
      <th scope="col" class="px-6 py-3">
        Post Photo
      </th>
      <th scope="col" class="px-6 py-3">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        {{post.id}}
      </th>
      <td class="px-6 py-4">
        {{post.postTitle}}
      </td>
      <td class="px-6 py-4">
        <img [src]="post.photoPath" alt="" />
      </td>
      <td class="px-6 py-4 text-right">
        <a (click)="toggleModal(post)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Modal-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6">
      <!--Title-->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold">{{selectedPost?.postTitle}}</p>
        <div class="modal-close cursor-pointer z-50" (click)="toggleModal(null)">
          <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
        </div>
      </div>

      <!--Body-->
      <img class="model-img" [src]="selectedPost?.photoPath"/>

      <!--Footer-->
      <div class="flex justify-end pt-2">
        <button class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" (click)="toggleModal(null)">Close</button>
      </div>

    </div>
  </div>
</div>
